body{
  text-align: center;
  background-color: mistyrose;
  font-family: cursive;
  color: palevioletred;
  font-size: 30px;
}
span{
font-size: 15px;
color: palevioletred;
}

a:link, a:visited{
  color: palevioletred;
}

button{
  color: mistyrose;
  background-color: palevioletred;
}
